tree-sitter==0.23.0
tree-sitter-c==0.23.0
z3-solver==4.13.3.0
sentence-transformers==5.0.0
openai==1.97.1
opentelemetry-api==1.35.0
opentelemetry-exporter-otlp-proto-common==1.35.0
opentelemetry-exporter-otlp-proto-grpc==1.35.0
opentelemetry-proto==1.35.0
opentelemetry-sdk==1.35.0
opentelemetry-semantic-conventions==0.56b0
chromadb==1.0.15
clang==18.1.8
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.72
langchain-huggingface==0.3.1
langchain-openai==0.3.28
langchain-text-splitters==0.3.8

